@model IEnumerable<Blog>

@{
    ViewData["Title"] = "Index";
}

<h2>Blogs</h2>

<p>
    <a class="btn btn-dark" asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Image)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Author)
            </th>
            <th>
                Blog Category
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    <img width="100" src="~/assets/img/blog/@item.Image" alt="Alternate Text" />
                </td>
                <td>
                    @item.Name
                </td>
                <td>
                    @item.Author
                </td>
                <td>
                    @item.CourseCategory?.Name
                </td>
                <td>
                    <a class="btn btn-dark" asp-action="Update" asp-route-id="@item.Id">Update</a> |
                    <a class="btn btn-dark" asp-action="Detail" asp-route-id="@item.Id">Details</a> |
                    <a class="btn btn-dark" asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>


<div class="row justify-content-center mt-4">
    <nav aria-label="...">
        <ul class="pagination" style="justify-content:center">

            <li class="page-item @(ViewBag.Currentpage == 1 ? "disabled" : "")">
                <a class="page-link" asp-controller="blog" asp-action="index" asp-route-page="@(ViewBag.CurrentPage-1)">Previous</a>
            </li>

            @for (int i = 1; i <= ViewBag.TotalPage; i++)
            {
                <li class="page-item  @(ViewBag.CurrentPage == i ? "active" : "")" style="pointer-events: @(ViewBag.CurrentPage == i ? "none" : "")">
                    <a class="page-link" asp-controller="blog" asp-action="index" asp-route-page="@i">@i</a>
                </li>
            }

            <li class="page-item @(ViewBag.CurrentPage == ViewBag.TotalPage ? "disabled" : "")">
                <a class="page-link" asp-controller="blog" asp-action="index" asp-route-page="@(ViewBag.CurrentPage +1)">Next</a>
            </li>
        </ul>
    </nav>
</div>


